body {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/adventure-alps-background-547114.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    padding-top: 20%;
    color: #ffffff;
}

p {
    color: #ffffff;
}

.login {
    width: 360px;
    padding: 18px 0 0;
    margin: auto;

}

.container {
    position: relative;
    z-index: 1;
    background: rgba(39, 39, 39, 0.8);
    max-width: 360px;
    padding: 40px;
    text-align: center;

}

.container input[type="text"] {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
}

.container input[type="password"] {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
}

.container input[type="email"] {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
}

.container input[type="radio"] {
    float: left;
    cursor: pointer;
}

.notARobot_div {
    color: #ffffff;
}

.tou_div {
    color: #ffffff;
}

.container input[type="checkbox"] {
    float: left;
    cursor: pointer;
}

.register-form select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;

}

.register-form textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
}

.container button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(75, 75, 255);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;

}

.container button:hover,.container button:active {
    background: darkblue;

}

.container .message {
    margin-top: 10px;
    color: aliceblue;
    font-size: 12px;

}

.container .message a{
    color: rgb(0, 0, 255);
    text-decoration: none;

}

.container .tou a {
    color: rgb(0, 0, 255);
    text-decoration: none;
}

.container .login-form {
    display: none;
}
